  <div class='content'>
  <div class="row">
          <div class="col-lg-6">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Countries</div>
                    <div class="card-body">
                        <h5 class="card-title">Number of Countries</h5>
                    <h1>{{countryData}}</h1>
                    </div>
                    </div>
          </div>


          <div class="col-lg-6">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Cities</div>
                    <div class="card-body">
                        <h5 class="card-title">Number of Cities</h5>
                        <h1>{{cityData}}</h1>
                    </div>
                    </div>
          </div>


          <div class="col-lg-6">
    
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Tours Plans</div>
                    <div class="card-body">
                        <h5 class="card-title">Number of Tour Plans</h5>
                        <h1>{{tourData}}</h1>
                    </div>
                    </div>
        
          </div>


          <div class="col-lg-6">
            
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Places</div>
                <div class="card-body">
                    <h5 class="card-title">Number of Places</h5>
                <h1>0</h1>
                </div>
                </div>
          </div>
        </div>
        </div>